/*Reset*/
html, body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;   
}
body {
   font-family: Arial, Helvetica, sans-serif;
}
h1, figure, img, article, section,th,td,table  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Inicio CSS Mara */
.cabecalho{
    background-color: rgb(81, 214, 123);
    width: 100%;
    text-align: center;
}
.cabecalho__logotipo{
    width: 100%;
}
.cabecalho__logotipo__img{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.cabecalho__logotipo__img__logo{
    text-align: center;
}
.cabecalho__logotipo__img__titulo{
    display: inline-block;
    color: white;
    margin-left: 10px;
    font-weight: unset;
    font-size: 38px;
    height: 74px;
}
.cabecalho__logotipo__texto{
    color: white;
    display: flex;
    width: 250px;
    margin: 30px auto;
}
.cabecalho__img{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.cabecalho__img__cel{
    width: 250px;
}
/* Final CSS Mara */

/* Inicio CSS Marina e Ju */
.conteudo-central, .conteudo-central__primeira-sessão, .conteudo-central__segunda-sessão{
    display: flex;
    flex-direction: column; 
    padding: 30px;
}

.conteudo-central__primeiro-artigo, .conteudo-central__segundo-artigo, .conteudo-central__terceiro-artigo {
    text-align: center;
}
/* Final CSS Marina e Ju */



html, body, section, ul, li, img{
    padding: 0;
    margin: 0;        
}

.lista{
    list-style: none;
}
.grupo-imagens{
    display: flex;
}
.primeiro-grupo{
    display: flex;
    flex-direction: row;

}
.convidar{
    background: rgb(244, 244, 246);
    text-align: center;
}
/*code Mara2*/
.grupo-imagens{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primeiro-grupo{
    width: 100%;
    display: flex;
}
.bloco1, .bloco2, .bloco3{
    width: 100%;
}
.bloco1 li img{
    width: 100%;
}
.bloco2{
    width: 200%;
    /* height: 99%; */
    margin: 0;
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: center; */
}
.bloco2 img{
    width: 100%;
    /* height: 100%; */
}
.bloco3 li img{
    width: 100%;
}