/*Reset*/
html, body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;   
}
body {
   font-family: Arial, Helvetica, sans-serif;
}
h1, figure, img, article, section,th,td,table  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Inicio CSS Mara */
.cabecalho{
    background-color: rgb(81, 214, 123);
    width: 100%;
    text-align: center;
}
.cabecalho__logotipo{
    width: 100%;
}
.cabecalho__logotipo__img{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.cabecalho__logotipo__img__logo{
    text-align: center;
}
.cabecalho__logotipo__img__titulo{
    display: inline-block;
    color: white;
    margin-left: 10px;
    font-weight: unset;
    font-size: 38px;
    height: 74px;
}
.cabecalho__logotipo__texto{
    color: white;
    display: flex;
    width: 250px;
    margin: 30px auto;
}
.cabecalho__img{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.cabecalho__img__cel{
    width: 250px;
}
/* Final CSS Mara */

/* Inicio CSS Marina e Ju */
.conteudo-central, .conteudo-central__primeira-sessão, .conteudo-central__segunda-sessão{
    display: flex;
    flex-direction: column; 
    padding: 30px;
}

.conteudo-central__primeiro-artigo, .conteudo-central__segundo-artigo, .conteudo-central__terceiro-artigo {
    text-align: center;
}
/* Final CSS Marina e Ju */


 /* Inicio estilo tablet 1 */
@media(min-width: 768px){
    .cabecalho{
        display: flex;
    }

    .cabecalho__logotipo__texto{
        text-align: justify;
    }
}
    
/*Final estilo tablet 1 */
/* Inicio estilo desktop */
    
@media(min-width: 992px){
    
    
}
/* Final estilo desktop */