/*Reset*/
html, body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;   
}
body {
   font-family: Arial, Helvetica, sans-serif;
}
h1, figure, img, article, section,th,td,table  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Inicio CSS Mara */
.cabecalho{
    background-color: rgb(81, 214, 123);
    width: 100%;
    text-align: center;
}
.cabecalho__logotipo{
    width: 100%;
}
.cabecalho__logotipo__img{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.cabecalho__logotipo__img__logo{
    text-align: center;
}
.cabecalho__logotipo__img__titulo{
    display: inline-block;
    color: white;
    margin-left: 10px;
    font-weight: unset;
    font-size: 38px;
    height: 74px;
}
.cabecalho__logotipo__texto{
    color: white;
    display: flex;
    width: 250px;
    margin: 30px auto;
}
.cabecalho__img{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.cabecalho__img__cel{
    width: 250px;
}
/* Final CSS Mara */

/* Inicio CSS Marina e Ju */
.conteudo-central, .conteudo-central__primeira-sessão, .conteudo-central__segunda-sessão{
    display: flex;
    flex-direction: column; 
    padding: 30px;
}

.conteudo-central__primeiro-artigo, .conteudo-central__segundo-artigo, .conteudo-central__terceiro-artigo {
    text-align: center;
}

.primeiro-artigo__img, .terceiro-artigo__img{
    max-width: 100%;
}
/* Final CSS Marina e Ju */



html, body, section, ul, li, img{
    padding: 0;
    margin: 0;        
}

.lista{
    list-style: none;
}
.grupo-imagens{
    display: flex;
}
.primeiro-grupo{
    display: flex;
    flex-direction: row;

}
.convidar{
    background: rgb(244, 244, 246);
    text-align: center;
}
/*code Mara2*/
.grupo-imagens{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primeiro-grupo{
    width: 100%;
    display: flex;
}
.bloco1, .bloco2, .bloco3{
    width: 100%;
}
.bloco1 li img{
    width: 100%;
}
.bloco2{
    width: 200%;
    /* height: 99%; */
    margin: 0;
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: center; */
}
.bloco2 img{
    width: 100%;
    /* height: 100%; */
}
.bloco3 li img{
    width: 100%;
}

.convidar__descricao{
    padding: 30px;
    box-sizing: border-box;
}
.campo-input{
    margin: 0;
    padding: 20px 0px;
}
.campo-input__caixa{
    position: relative;
    right: -4px;
    height: 25px;
    border-radius: 5px 0px 0px 5px;
}
.campo-input__botao-convidar{
    background: rgb(81, 214, 123);
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}
.pre-rodape{
    background: rgb(81, 214, 123);
    color: white;
    text-align: center;
    padding: 30px 20%;
    box-sizing: border-box;
    margin: 0 auto;
}
.pre-rodape__p1{
    margin: 0;
}
.pre-rodape__p2{
    margin: 0;
    font-weight: bold;
}  
.rodape{
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(80, 78, 78);
    color: gray;
} 

 /* Inicio estilo tablet 1 */
 @media(min-width: 768px){

    .cabecalho{
        display: flex;
    }
    .cabecalho__logotipo__texto {
        text-align: left;
    }
    .cabecalho__img {
        justify-content: left;
    }

    .conteudo-central__primeira-sessão {
        display: flex;
    }
    .primeiro-artigo__img, .terceiro-artigo__img{
        width: 50%;
    }   
    .conteudo-central__primeiro-artigo, .conteudo-central__segundo-artigo{
        position: absolute;
        width: 42%;
        margin-left: 47%;
        text-align: left;
    }
    .conteudo-central__segundo-artigo{
        top: 82%;
    }          
    .conteudo-central__terceiro-artigo{
        position: absolute;
        top: 116%;   
        width: 39%;
        text-align: left;
    }
    .terceiro-artigo__img{
        margin-left:50%;
    }   
}
/* Final estilo tablet 1 */